@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');

// 0. Colors
$primary-white: #ffffff;
$primary-black: #313131;
$secondary-color: rgba(12, 22, 36, 0.71);

html {
    background-color: #eee;
    font-size: 16px;
}

body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: #fff;
    height: 594mm;
    width: 210mm;
    margin: 0 auto;
    padding: 0;
}

body, body * {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

// .wrapper powoduje, że elementy blokowe w nim zawarte będą zajmować całą wysokość
// strony oprócz stopki (sticky footer) - konkretnie linia `flex: 1`.
// Źródło: // https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
.wrapper {
    flex: 1;

    &.wrapper-flex {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: row;
    }
}

aside {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-basis: calc(1/3*100%);
    flex-direction: column;
    border-right: 5px solid #FF8619;
    background-color: $secondary-color;
    color: $primary-white;
    padding: 3mm;

    h1 {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    img {
        border: 1px solid #FF8619;
        border-radius: 5%;
        height: 75%;
        margin-bottom: 25px;
        width: 75%;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 0.94em;

        li {
            margin-bottom: 10px;

            i {
                margin-right: 10px;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .social {
        font-size: 0.8rem;
    }
}

main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-basis: calc(2/3*100%);
    flex-direction: column;

    background-color: $primary-white;
    color: $primary-black;
    padding: 3mm 3mm;
    h4{

        padding: 18px;
        display: inline-block;
    }
    a {
        color: $secondary-color;
    }

    h2 {
        margin: 25px 0;

        span {
            font-size: 1rem;
            padding-top: 0.25rem;
        }
    }
    h3 {
        margin: 10px 0;
    }


    ul {
        list-style-type: none;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
        padding-left: 20px;
        li {
            line-height: 1.5;
            margin-bottom: 10px;

            span, .position {
                color: lighten($primary-black, 25%);
            }

            .position {
                font-weight: 700;
            }
        }
    }

    .container {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
    }
    .w3-light-grey{
        .bar{
        height: 10px;
        margin: 7px 0px
        }
    }
    .icon{
        color:$secondary-color;
        font-size: 42px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        .tools{
            font-size: 32px;
        }
        .fa-circle{
            color: #FF8619;
            font-size: 13px;
        }
    }
    .col-1-2 {
        flex-basis: 50%;
        padding: 0 5px;
        p{
            font-size: 20px;
        }
        .col-1-5 {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            span{
                font-size: 12px;
                font-weight: bold;
                text-align: center;
            }
        }
    }

}

footer {
    //border-top: 1px solid ;
    color: $primary-white;
    background-color: $secondary-color;
    font-size: calc(5/8*1rem);
    padding: 3mm;
    text-align: center;
}


